<section id="hero">
  <div class="hero__text">
    <h1 class="hero__tagline">Get project pratice !</h1>
    <p class="hero__description">
      It can be challenging to create remarkable digital projects. 
      We want to create a space for juniors creative to really collaborate
    </p>
  </div>
  <div class="hero__graphic">
    <%= image_tag("hero_image.png", class:"hero__img",alt:"people collaborating") %>
  </div>
  <button class="hero__cta button button__lg button__filled">Join the community</button>
</section>
<section id="features">
  <h2 class="features__title"> The features </h2>
  <div class="explanations">
    <div class="explanation pairs__making" id="pairs">
      <%= image_tag("pair_making.png", class: "explanation_logo",alt:"two people mentoring themself") %>
      <h4 class='explanation__title'>Pair making</h4>
      <p class="explanation__description">Once every month we will make a team up for little project, that way you will have a chance to meet a potential partners</p>
    </div>
    <div class="explanation projects" id="projects">
      <%= image_tag("project_image.png", class: "explanation_logo",alt:"light bulb") %>
      <h4 class='explanation__title'>Projects</h4>
      <p  class="explanation__description">Every member can propose a project to the community,much like open-source</p>
    </div>
  </div>
</section>
<section id="You__are">
  <h2 class="You__are__title">You are :</h2>
  <div class="typologies__wrapper">
    <div class="typology__card" id="typology">
      <%= image_tag("designer.png", class: "typology__card__img",alt:"work designer")  %>
      <div class="typology__text" id="designer">
        <h5 class="typology__card__title">A Designer</h5>
        <p>
          <ul class="typology__card__list">
            <li class="typology__list__first">Working with a  developper can tremendiously help you, what kind of assets to send, what can be done, how to integrate the better way.</li>
            <li class="typology__list__last">CSS is a big plus for a designer, it help you understand how your webdesigns are translated into code. And it give you the ability to make your own site</li>
          </ul>
        </p>
        <button class="button button__md button__text typo__button">
          <a href="" class="typology__link">
            See amazing webflow sites from designer<span class="arrow__right">
              <svg width="38" height="12" viewBox="0 0 38 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM37.5303 6.53033C37.8232 6.23743 37.8232 5.76256 37.5303 5.46967L32.7574 0.696696C32.4645 0.403803 31.9896 0.403803 31.6967 0.696696C31.4038 0.98959 31.4038 1.46446 31.6967 1.75736L35.9393 6L31.6967 10.2426C31.4038 10.5355 31.4038 11.0104 31.6967 11.3033C31.9896 11.5962 32.4645 11.5962 32.7574 11.3033L37.5303 6.53033ZM1 6.75L37 6.75L37 5.25L1 5.25L1 6.75Z" fill="#2252F9"/>
              </svg>
            </span>
          </a>
        </button>
      </div>
    </div>
    <div class="typology__card">
      <%= image_tag("developer.png", class:"typology__card__img__left",alt:"screen code") %>
      <div class="typology__text" id="developer">
        <h5 class="typology__card__title">A Developper</h5>
        <p>
          <ul>
            <li class="typology__list__first">Every month you have the chance to do a peer-programming challenge, which is very helpful for getting new skills and get better at communicating</li>
            <li class="typology__list__last">Working with others people on project will help you do more looking and bigger things, if you  a frontend or backend advocate either way you should see the advantages</li>
          </ul>
        </p>
        <button class="button button__md button__text typo__button typo__button_right">
          <a href="" class="typology__link">
            What is pair-programming ?  <span class="arrow__right">
              <svg width="38" height="12" viewBox="0 0 38 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM37.5303 6.53033C37.8232 6.23743 37.8232 5.76256 37.5303 5.46967L32.7574 0.696696C32.4645 0.403803 31.9896 0.403803 31.6967 0.696696C31.4038 0.98959 31.4038 1.46446 31.6967 1.75736L35.9393 6L31.6967 10.2426C31.4038 10.5355 31.4038 11.0104 31.6967 11.3033C31.9896 11.5962 32.4645 11.5962 32.7574 11.3033L37.5303 6.53033ZM1 6.75L37 6.75L37 5.25L1 5.25L1 6.75Z" fill="#2252F9"/>
              </svg>
            </span>
          </a>
        </button>
      </div>
    </div>
    <div class="typology__card">
      <%= image_tag("marketer.png", class: "typology__card__img",alt:"post-it") %>
      <div class="typology__text" id="marketer">
        <h5 class="typology__card__title">A Marketer</h5>
        <p>
          <ul>
            <li class="typology__list__first">Applying your marketing knowledge can be though.  Most of the times working with sandbox is limited, Google Analytics for example but it’s more for getting used to the product.</li>
            <li class="typology__list__last">While Managing project / product, you can apply all your book smart, get a better sense at what is the web. And for the most pertinacious get an introduction at html and javascript</li>
          </ul>
        </p>
        <button class="button button__md button__text typo__button">
          <a href="" class="typology__link">
            See our ressources for marketing  <span class="arrow__right">
              <svg width="38" height="12" viewBox="0 0 38 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM37.5303 6.53033C37.8232 6.23743 37.8232 5.76256 37.5303 5.46967L32.7574 0.696696C32.4645 0.403803 31.9896 0.403803 31.6967 0.696696C31.4038 0.98959 31.4038 1.46446 31.6967 1.75736L35.9393 6L31.6967 10.2426C31.4038 10.5355 31.4038 11.0104 31.6967 11.3033C31.9896 11.5962 32.4645 11.5962 32.7574 11.3033L37.5303 6.53033ZM1 6.75L37 6.75L37 5.25L1 5.25L1 6.75Z" fill="#2252F9"/>
              </svg>
            </span>
          </a>
        </button>
      </div>
    </div>
  </section>
  <section id="the__system">
    <h2 class="system__title">The system</h2>
    <div class="inner__system__wrapper">
      <p class="system__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button class="button button__lg button__filled system_cta">Sign up</button>
    </div>
  </section>
