<div class="v-line">
  <%= form_with model: @user, method: :patch, url: user_registration_path do |f| %>
    <div class="group-form">
      <div>
        <%= f.label :Prénom %>
        <%= f.text_field :first_name, autofocus: true , class: "form input"%>
      </div>
      <div>
        <%= f.label :Nom %>
        <%= f.text_field :last_name, autofocus: true , class: "form input"%>
      </div>
      <div>
        <%= f.label :Email%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form input"%>
      </div>
    </div>

    <div class="group-form m-top">
      <div >
        <%= f.label :Description %>
        <%= f.text_area :description, autofocus: true , class: "input-area form input"%>
      </div>
      <div class="password_field ">
        <div class="field-col m-left-3">
          <label>Changer le mot de passe</label>
          <em>Ne pas remplir si tu ne souhaites pas le changer</em>
          <%= f.password_field :Password, autocomplete: "new-password" , class: "input", placeholder: "#{@minimum_password_length} caractères minimum"%>
        </div>
        <div class="field-col m-left-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "input", placeholder:"Confirmation"%>
        </div>
      </div>
    </div>

    <div class="field center m-top bottom-margin-for-footer">
      <div class="field-col">
        <h3>Sauvegarder mes modifications</h3>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel" , class: "input"%>
          <div class="actions">
            <%= f.submit "Mise à jour" , class: "button button__outlined button__md m-top-one"%>
          </div>
      </div>
  <% end %>
      <div class="field-col">
        <h3>Supprimer mon compte</h3>
      <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Etes vous sur?" }, method: :delete , class: "button button__outlined_red button__md m-top-one"%>
    </div>     
  </div>
</div>