<h1 class="title-page">Hello <%=current_user.first_name%></h1>

<%= link_to url_for(:back) do %>
   <%= image_tag "https://image.flaticon.com/icons/png/512/638/638359.png", class: "arrow-back" %>
<% end %>

<div class="v-title">
<span class="v-circle"></span>
<h2 class="v-text">Profile</h2>
</div>


<div class="v-line">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="group-form">
   <div class="field">
    <%= f.label :first_name , class: "text-form-top" %><br />
    <%= f.text_field :first_name, autofocus: true , class: "form input"%>
  </div>
   <div class="field">
    <%= f.label :last_name , class: "text-form-top" %><br />
    <%= f.text_field :last_name, autofocus: true , class: "form input"%>
  </div>
    <div class="field">
    <%= f.label :email , class: "text-form-top" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form input"%>
  </div>
</div>

  <div class="group-form m-top">

   <div class="field-col">
    <%= f.label :description , class: "m-bot"%>
    <%= f.text_area :description, autofocus: true , class: "input-area form input"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="password_field ">
<label>Change your password</label><br>
<small>leave blank if you don't want to change it</small>
 
  <div class="field-col">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" , class: "input", placeholder: "#{@minimum_password_length} characters minimum"%>
  </div>

  <div class="field-col">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "input"%>
  </div>
</div>
  </div>

<div class="field sparound m-top">
  <div class="field-col">

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "button button__outlined_red button__md m-top-one"%></p>
</div>
  <div class="field-col">
  <h3>Save your change</h3>  
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current password " , class: "input"%>
  <div class="actions">
    <%= f.submit "Update" , class: "button button__outlined button__md m-top-one"%>
  </div>

</div>
<% end %>


  </div>
  <div>



