<%= render "devise/shared/error_messages", resource: resource %>
<main class="main__wrapper">
  <h1 class="title-page">Salut <%=current_user.first_name.capitalize%></h1>
  <div class="v-title">
    <span class="v-circle"></span>
    <h2 class="v-text">Profil</h2>
  </div>

  <%=render 'edit_form'%>

  <div class="v-title">
    <span class="v-circle"></span>
    <h2 class="v-text">Challenges</h2>
  </div>

  <%=render 'user_challenges'%>

  <div class="v-title">
    <span class="v-circle"></span>
    <h2 class="v-text">Projets</h2>
  </div>

  <%=render 'user_projects'%>
 
</main >
