<main class="main__wrapper">
  <h1> Messaging </h1>
  <p>you have <%= @rooms.count%> rooms</p>
  <div style="display:flex">
    <div class="nav__messaging">
      <% @rooms.all.each do |room|%>
        <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
        <%= link_to  user_messaging_path(user_id:current_user.id,id:room.id) do %>
          <h3>room # <%= room.name%></h3>
        <%end%>
      <%end%>
    </div>
    <span> <%= p @room %></span>
    <div class="messaging">
      <div class="messaging__content">
        <% if @room.present? %>
          <div id="messages">
            <%@room.messages.each do |message| %>
              <%= render 'messaging/message', message:message%>
            <%end%>
          </div>
        </div>
        <%= form_with(model: @message, url: messages_path, local:true) do |form| %>
          <div>
            <%= form.label :content %>
            <%= form.text_area :content, size: "60x10" %>
          </div>
          <%= form.hidden_field :room_id, value:@room.id %>
          <%= form.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</main>
