<main class="messaging__wrapper">
  <div class="left__messaging ">
    <div class="room__counter">
      <h3>Vous avez <%= @rooms.count%> discussions en cours</h3>
    </div>
    <div class="messaging_nav">
      <% @rooms.all.each do |room|%>
        <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
        <%= link_to  user_messaging_path(user_id:current_user.id,id:room.id) do %>
          <h3> <%= room.name%></h3>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="right__messaging">
    <div class="messages__wrapper">
      <% if @room.present? %>
        <div id="messages">
          <%@room.messages.each do |message| %>
            <%= render 'messaging/message', message:message%>
          </div>
        </div>
      <%end%>
      <%= form_with(model: @message, url: messages_path, local:true) do |form| %>
        <div>
          <%= form.label :content %>
          <%= form.text_area :content, size: "60x10" ,id:"message-input" %>
        </div>
        <%= form.hidden_field :room_id, value:@room.id %>
        <%= form.submit "Envoyer", id:"send" %>
      <% end %>
    <% end %>
  </div>
</div>
</main>
