<div class="card__project">
  <div class="card__project__top" id="">
    <div class="project__infos">
      <%if project.logo_url != '' && project.logo_url != nil%>
        <%= image_tag(project.logo_url, class: "project__logo") %>
      <%else%>
        <%= image_tag('https://images.unsplash.com/photo-1572177812156-58036aae439c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', class: "project__logo") %>
      <%end%>
      <div class="project__infos__text">
        <h3 class="project__title">
          <a class="link" href="<%project_path(project.id)%>"> <%= project.project_title %></a>
        </h3>
        <p class="project__description"><%= project.description%></p>
        <h4>Auteur : <small><%=project.owner.email%> #ID<%=project.owner.id%></small></h4>
        <div class="project__link admin_project_list_link">
          <a href='<%=project.figma_link%>' target='_blank' class='link link_admin'>
            <svg xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 0 200 300"><path d="M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z" fill="#0acf83"/><path d="M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z" fill="#a259ff"/><path d="M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z" fill="#f24e1e"/><path d="M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50z" fill="#ff7262"/><path d="M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z" fill="#1abcfe"/>
            </svg>
          </a>
          <%if project.git_link != '' && project.git_link != nil%>
          <a href='<%=project.git_link%>' target='_blank' class='link link_admin'>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 0C5.59375 0 0 5.59375 0 12.5C0 18.0312 3.57812 22.7031 8.54688 24.3594C9.17188 24.4687 9.40625 24.0937 9.40625 23.7656C9.40625 23.4687 9.39062 22.4844 9.39062 21.4375C6.25 22.0156 5.4375 20.6719 5.1875 19.9687C5.04688 19.6094 4.4375 18.5 3.90625 18.2031C3.46875 17.9687 2.84375 17.3906 3.89062 17.375C4.875 17.3594 5.57812 18.2812 5.8125 18.6562C6.9375 20.5469 8.73437 20.0156 9.45312 19.6875C9.5625 18.875 9.89062 18.3281 10.25 18.0156C7.46875 17.7031 4.5625 16.625 4.5625 11.8437C4.5625 10.4844 5.04688 9.35937 5.84375 8.48437C5.71875 8.17187 5.28125 6.89062 5.96875 5.17187C5.96875 5.17187 7.01562 4.84375 9.40625 6.45312C10.4062 6.17187 11.4687 6.03125 12.5312 6.03125C13.5937 6.03125 14.6562 6.17187 15.6562 6.45312C18.0469 4.82812 19.0938 5.17187 19.0938 5.17187C19.7812 6.89062 19.3438 8.17187 19.2188 8.48437C20.0156 9.35937 20.5 10.4687 20.5 11.8437C20.5 16.6406 17.5781 17.7031 14.7969 18.0156C15.25 18.4062 15.6406 19.1562 15.6406 20.3281C15.6406 22 15.625 23.3437 15.625 23.7656C15.625 24.0937 15.8594 24.4844 16.4844 24.3594C18.9658 23.5216 21.1221 21.9267 22.6496 19.7993C24.1772 17.6719 24.9993 15.119 25 12.5C25 5.59375 19.4062 0 12.5 0Z" fill="#2252F9"/>
            </svg>
            </a>
          <%end%>

          <%if project.trello_link != '' && project.trello_link != nil %>
          <a href='<%=project.trello_link%>' target='_blank' class='link link_admin'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  height="35" viewBox="0 30 320 100"><defs><style>.cls-1{fill-rule:evenodd;fill:url(#linear-gradient);}.cls-2{fill:#293856;}</style><linearGradient id="linear-gradient" x1="36.82" y1="100.45" x2="36.82" y2="38.07" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0052cc"/><stop offset="1" stop-color="#2684ff"/></linearGradient></defs><g id="Logos"><path class="cls-1" d="M60.59,38.07H13a7.42,7.42,0,0,0-7.42,7.41V93A7.42,7.42,0,0,0,13,100.45H60.59A7.42,7.42,0,0,0,68,93V45.48A7.42,7.42,0,0,0,60.59,38.07ZM32.5,83A2.48,2.48,0,0,1,30,85.47H19.6A2.47,2.47,0,0,1,17.14,83V52.05a2.47,2.47,0,0,1,2.46-2.47H30a2.48,2.48,0,0,1,2.47,2.47Zm24-14.21A2.47,2.47,0,0,1,54,71.26H43.6a2.48,2.48,0,0,1-2.47-2.47V52.05a2.48,2.48,0,0,1,2.47-2.47H54a2.47,2.47,0,0,1,2.46,2.47Z"/><path class="cls-2" d="M134.92,42.64V54.7H120.63v45.75H106.85V54.7H92.56V42.64Z"/><path class="cls-2" d="M152.46,100.45H139.72v-45h12.74v8.62c2.42-6.07,6.29-9.68,13.18-9.24V68.16c-9-.7-13.18,1.5-13.18,8.71Z"/><path class="cls-2" d="M235.24,100.8c-8.35,0-13.6-4-13.6-13.46V38.07h12.83V85.58c0,2.73,1.8,3.7,4,3.7a14.08,14.08,0,0,0,1.9-.09v11.09A18.75,18.75,0,0,1,235.24,100.8Z"/><path class="cls-2" d="M262,100.8c-8.35,0-13.61-4-13.61-13.46V38.07h12.83V85.58c0,2.73,1.81,3.7,4.05,3.7a13.86,13.86,0,0,0,1.89-.09v11.09A18.66,18.66,0,0,1,262,100.8Z"/><path class="cls-2" d="M273.31,77.93c0-13.9,8-23.41,21.78-23.41S316.7,64,316.7,77.93s-7.92,23.58-21.61,23.58S273.31,91.74,273.31,77.93Zm12.49,0c0,6.77,2.84,12.14,9.29,12.14s9.13-5.37,9.13-12.14-2.75-12-9.13-12S285.8,71.15,285.8,77.93Z"/><path class="cls-2" d="M182.84,82a105.84,105.84,0,0,0,10.74.63c9.76,0,18-2.62,18-12.07,0-9.17-8.47-16.06-18.66-16.06-13.72,0-22.51,9.95-22.51,23.85,0,14.43,7.58,23,24.71,23A41.08,41.08,0,0,0,210,98.69V87.91c-4.4,1.41-9.35,2.81-14.43,2.81C188.75,90.72,184,88.48,182.84,82Zm9.82-17.68c3.61,0,6.51,2.45,6.51,5.8,0,4.31-4.55,5.66-9.79,5.66a44.69,44.69,0,0,1-6.66-.53,15.16,15.16,0,0,1,1.77-6A9.43,9.43,0,0,1,192.66,64.34Z"/></g>
            </svg>
          </a>
          <%end%>
        </div>
      </div>
    </div>
    <div class="card__project__bottom" id="owner__infos">
      <%=button_to "voir le projet", project_path(project.id), :class=> 'button pill__outlined button__sm ml-1'  ,method:'get' %>
      <%=button_to "Modifier le projet", edit_admin_project_path(project.id), :class=> 'button pill__outlined button__sm ml-1'  ,method:'get' %>
      <%=button_to "Supprimer le projet", admin_project_path(project.id), method:'delete',data: { confirm:'Valider la suppression?'}, :class=> 'button pill__outlined__red button__sm ml-1'%>

    </div>
  </div>
</div>