<main class="main__wrapper">
  <h1>Browser project</h1>
  <p>FORMS to search project</p>
  <%= form_with url:projects_path ,:html => {:class => '',:id =>"project_search"} , method: "get" do |form|   %>
    <%= form.text_field :project_title %>
    <%= submit_tag("Search") %>
    <div>
      card-view-option
    </div>
    <select id="Sort By">
      <option value="Old" selected> Old </option>
      <option value="Recent"> Recent </option>
      <option value="Upvoted"> Upvoted</option>
    </select>
  <% end %>
  <div class="projects_wrapper">
    <%= @projects.each do |project| %>
      <%= render "projects/card_project", project: project%>
    <%end%>
  </div>
</main>
