<h1>Browser project</h1>
<p>FORMS to search project</p>
<form id="Todo">
  <input type="text" />
</form>
<div>
  card-view-option
</div>
<div>
  Sort By : Most Upvoted
  <div>
    <%= @projects.each do |project| %>
      <div>
        <h4><%= project.project_title %></h4>
        <p><%= project.description%></p>
        <br>
        <%=button_to "voir le projet", project_path(project.id), method:'get'%>
        <a href="<%= project.figma_link %>">Figma</a>
      </div>
    <%end%>
    <div>
