<div class="title">
  <%= image_tag(@project.logo_url, class: "logo-img") %>
  <h1 class="logo-title"><%= @project.project_title %></h1>
</div>

<div class="description">
  <p><%=@project.description%></p>

<div class="link">
<%= link_to 'figma', @project.figma_link, class: "button button-ml button__outlined button__md" %>
  <%if @project.git_link%>
  <%= link_to 'git hub', @project.git_link, class: "button button-ml button__outlined button__md" %>
  <%end%>
  <%if @project.trello_link%>
  <%= link_to 'trello', @project.trello_link, class: "button button-ml button__outlined button__md" %>
  <%end%>
</div>
<div class="team">
  <div class="owner">
  <h4>Owner</h4>
  <h4 class="name"><%=!!@project.owner.first_name%> <%=!!@project.owner.last_name%></h4>
  <p><%=!!@project.owner.description%></p>

  <p class="email"><%=@project.owner.email%></p>
  </div>
<div>
  <%if @project.story%>
  <div class="story">
    <h4>The story of the idea</h4>
    <%=@project.story%>
  </div>
  <%end%>

<div class="needed">
  <h4><%=@project.needed.name%></h4>
  <p><%=@project.needed.description%></p>
<div>

  <%if @project.owner.id == current_user.id%>
    <%=button_to "Supprimer le projet", project_path(@project.id), method:'delete',data: { confirm:'Valider la suppression?'}%><br>
  <%elsif @participations.count > 3 %>
    <%=button_to "Rejoindre le projet", {}, disabled: :disabled %><br>
  <%elsif @user_participations.count > 0 %>
    <%=button_to "Quitter le projet", joint_users_to_project_path(@project.id), params:{ project_id:@project.id }, method:'delete',data: { confirm:'Valider votre départ ?'}%><br>
  <%else%>
    <%=button_to "Rejoindre le projet", joint_users_to_projects_path(), params:{ project_id:@project.id }, method:'post'%><br>
  <%end%>

</div>
