<h2><%= @challenge.challenge_name%></h2>
<p> <%= @challenge.challenge_description%> </p>
<br>
<p> level : <%= @challenge.level %> </p>
<p> type : <%= @challenge.c_type %> </p>
<p> url : <%= @challenge.challenge_link%> </p>
