<nav>
  <ul class="navlink__list__admin "> 
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link">
      <%=link_to admin_root_path, class:'ab' do%>
        <i class="bi bi-speedometer"></i><br>
        Accueil
      <%end%>
      </li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link">
        <%=link_to admin_users_path do%>
          <i class="bi bi-person-lines-fill"></i><br>
          Utilisateurs
        <%end%>
      </li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link">
        <%=link_to admin_projects_path do%>
          <i class="bi bi-file-earmark-code-fill"></i><br>
          Projets
        <%end%>
      </li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link">
        <%=link_to admin_challenges_path do%>
          <i class="bi bi-list-check"></i><br>
          Challenges
        <%end%>
      </li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link">
      <%=link_to admin_neededs_path do%>
        <i class="bi bi-bookmark-star-fill"></i><br>
        Besoins
      <%end%></li>
    </div>
    <hr class='admin_separator'>
    <div class="space_under">
      <li class="hover-underline-animation link_add ">
        <%=link_to new_admin_project_path,class:"link_add" do%>
          <i class="bi bi-plus-circle-fill"></i>
          Projet
        <%end%>
      </li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation link_add ">
        <%=link_to new_admin_needed_path,class:"link_add" do%>
          <i class="bi bi-plus-circle-fill"></i>
          Besoin
        <%end%>
      </li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation ">
        <%=link_to new_admin_challenge_path,class:"link_add" do%>
          <i class="bi bi-plus-circle-fill"></i>
          Challenge
        <%end%>
      </li>
    </div>

  </ul>
</nav>