<nav class="">
  <ul class="navlink__list__admin "> 
    <div class="text_center">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_root_path%>">
      <i class="bi bi-speedometer"></i><br>
      Accueil</a></li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_users_path%>">
      <i class="bi bi-person-lines-fill"></i><br>
      Utilisateurs</a></li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_projects_path%>">
      <i class="bi bi-file-earmark-code-fill"></i><br>
      Projets</a></li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_challenges_path%>">
      <i class="bi bi-list-check"></i><br>
      Challenges</a></li>
    </div>
    <div class="space_under text_center">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_neededs_path%>">
      <i class="bi bi-bookmark-star-fill"></i><br>
      Besoins</a></li>
    </div>
    <hr>
    <div class="space_under">
      <li class="hover-underline-animation link_add "><a class="link_add" href="<%=new_admin_project_path%>">
      <i class="bi bi-plus-circle-fill"></i>
      Projet</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation link_add "><a class="link_add" href="<%=new_admin_needed_path%>">
      <i class="bi bi-plus-circle-fill"></i>
      Besoin</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation "><a class="link_add " href="<%=new_admin_challenge_path%>">
      <i class="bi bi-plus-circle-fill"></i>
      Challenge</a></li>
    </div>

  </ul>
</nav>