<nav class="">
  <ul class="navlink__list__admin "> 
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_root_path%>">Accueil</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_users_path%>">Utilisateurs</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_projects_path%>">Projets</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_challenges_path%>">Challenges</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=admin_neededs_path%>">Besoins</a></li>
    </div>
    <hr>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=new_admin_project_path%>">Créer un projet</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=new_admin_needed_path%>">Créer un besoin</a></li>
    </div>
    <div class="space_under">
      <li class="hover-underline-animation nav__link"><a class="" href="<%=new_admin_challenge_path%>">Créer un challenge</a></li>
    </div>

  </ul>
</nav>