<main class="main__wrapper background">

  <h1 class="admin_title">Dashboard Administrateur <%=current_user.first_name.capitalize%></h1>

  <div class="card__admin">
      <%=render 'admin_menu'%>
  </div>
  <div class='ml'>
    <div class="card__graph">

      <div class="header__graph">
        <p>Total des inscriptions/jours</p>
        <%= line_chart User.group_by_day(:created_at).count %>
      

      <div class="header__graph">
        <p>Projets total en ligne : <%=link_to @projects.count, admin_projects_path, class:"nav__link " %></p>   
      </div>
      <div class="header__graph">
        <p>Challenges total en ligne : <%=link_to @challenges.count, admin_challenges_path, class:"nav__link " %></p>
      </div>
    </div>
  </div>
</main>