<main class="main__wrapper background">

  <h1 class="admin_title">Dashboard Administrateur <%=current_user.first_name.capitalize%></h1>

  <div class="card__admin">
      <%=render 'admin_menu'%>
  </div>
  <div class='ml'>
    <div class="card__graph">

      <div class="header__graph">
        <p>Total des inscriptions/jours</p>
        <%= line_chart User.group_by_day(:created_at).count %>
      

      <div class="header__graph">
        <p>Projets total en ligne :<a class="nav__link "href="<%=admin_projects_path%>"><%=Project.count%></a></p>   
      </div>
      <div class="header__graph">
        <p>Challenges total en ligne :<a class="nav__link" href="<%=  admin_challenges_path%>"> <%=Challenge.count%></a></p>
      </div>
      
    </div>
  </div>

</main>