<div class='row_admin'>
  <div class='child_row'>
    <div>
      <p class='info_text'>#ID <%=user.id%></p>
    </div>
    <div >
      <p class='info_text'><%=user.first_name.capitalize%></p>
    </div>
    <div>
      <p class='info_text'><%=user.last_name.upcase%></p>
    </div>
    <div>
      <p class='info_text'><%=user.email%></p>
    </div>
  </div>
  <div class='child_row'>
    <div>
      <%=button_to 'Supprimer', admin_user_path(user.id), method:'delete', data: { confirm:'Supprimer l\'utilisateur ?'}%>
    </div>
    <div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>  
</div>
