<nav class="navbar">
  <div class="logo">
    <%= render "layouts/logo" %>
  </div>
  <div class="nav__links__wrapper">
    <ul class="nav__links__list">
      <li class="nav__link"><a href="<%=projects_path()%>">projects</a></li>
      <li class="nav__link"><a href=" ">ressources</a></li>
      <%if user_signed_in?()%>
        <div class="dropdown">
          <button onclick="myFunction()" class="button pill__outlined button__pill__outlined dropbtn"><%=current_user.email%></button>
          <div id="myDropdown" class="dropdown-content">
            <a href="<%=edit_user_registration_path()%>">Mon profil</a>
            <a href="<%=destroy_user_session_path()%>" data-method='delete'>Se déconnecter</a>
          </div>
        </div>  
      <%else%>
        <div class="dropdown">
          <button onclick="myFunction()" class="button pill__outlined button__pill__outlined dropbtn">Connexion</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="<%=new_user_session_path()%>">Se connecter</a>
            <a href="<%=new_user_registration_path()%>">S'inscrire</a>
          </div>
        </div>  
      <%end%>

    </ul>
  </div>
  <div class="burger__menu">
    <svg width="28" height="7" viewBox="0 0 28 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="0.5" x2="27.5" y2="0.5" stroke="black" stroke-linecap="round"/>
      <line x1="0.5" y1="6.5" x2="27.5" y2="6.5" stroke="black" stroke-linecap="round"/>
    </svg>
  </div>
</nav>
