<!DOCTYPE html>
<html>
  <head>
    <title>Helj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- JS -->
    <%= javascript_include_tag 'application' %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="page__wrapper">
    <%= render "layouts/navbar" %>
    <main class="main__wrapper">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
